/* RESET STYLES */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
input {
    font: inherit;
}

/* GENERAL STYLES */

body {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    font-family: "Space Mono", monospace;
    background-color: #c5e4e7;
}

/* .main {
} */

.logo {
    display: block;
    margin: 50px auto 41px auto;
}

/*  */

.calc {
    max-width: 920px;
    margin: 0 auto;
    box-shadow: 0 43px 32px rgba(79, 165, 175, 0.2007);

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #fff;
    padding: 32px 24px;
}

.calc__col-1 {
    max-width: 379px;
    margin: 0 auto 32px auto;
    padding: 0 8px;
}

.calc__col-2 {
    max-width: 413px;
    margin: 0 auto;
    background-color: #00474b;
    padding: 37px 22px 24px 24px;
    border-radius: 15px;
}

@media only screen and (min-width: 500px) {
    .main {
        padding: 0 32px;
    }
}

@media only screen and (min-height: 934px), only screen and (min-width: 992px) {
    .calc {
        border-radius: 25px;
    }
}

/*  */

.calc__bill-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.calc__bill__label {
    color: #5e7a7d;
    margin-bottom: 6px;
}

#calc__bill__input {
    height: 48px;
    border-radius: 5px;
    background-color: #f3f9fa;
    border: none;
    padding-right: 17.5px;

    text-align: right;
    font-size: 24px;
    line-height: 36px;
    color: #00474b;
}

#calc__bill__input::placeholder {
    color: #547878;
    font-size: 16px;
}

#calc__bill__input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(79, 165, 175, 0.5);
}

.calc__bill__icon {
    position: absolute;
    left: 20px;
    bottom: 16px;
}

/*  */

.calc__select-tip {
    color: #5e7a7d;
    margin-bottom: 16px;
}

.calc__tip-box {
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    row-gap: 16px;
    margin-bottom: 32px;
}

.calc__tip-btn {
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;

    width: 47%;
    height: 48px;
    border-radius: 5px;
    background-color: #00474b;
    border: none;
}

.calc__tip-btn--active {
    background-color: #26c2ae;
    color: #00474b;
}

.calc__tip-input {
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #00474b;

    width: 47%;
    padding-right: 17.3px;
    background-color: #f3f9fa;
    border: none;
    border-radius: 5px;
}

.calc__tip-input::placeholder {
    color: #547878;
}

.calc__tip-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(79, 165, 175, 0.5);
}

/*  */

.calc__num-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.calc__num-label {
    color: #5e7a7d;
    margin-bottom: 6px;
}

#calc__num-input {
    height: 48px;
    background-color: #f3f9fa;
    border-radius: 5px;
    border: none;
    padding-right: 17px;

    text-align: right;
    font-size: 24px;
    line-height: 36px;
    color: #00474b;
}

#calc__num-onput::placeholder {
    color: #547878;
}

#calc__num-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(79, 165, 175, 0.5);
}

.calc__num-icon {
    position: absolute;
    left: 17px;
    bottom: 16px;
}

/*  */

.calc__result-tip-box {
    margin-bottom: 20px;
}
.calc__result-total-box {
    margin-bottom: 32px;
}

.calc__result-tip-box,
.calc__result-total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calc__result-tip-box div p:nth-child(1),
.calc__result-total-box div p:nth-child(1) {
    color: #ffffff;
}

.calc__result-tip-box div p:nth-child(2),
.calc__result-total-box div p:nth-child(2) {
    font-size: 13px;
    line-height: 19px;
    color: #7f9d9f;
}

.calc__result-tip,
.calc__result-total {
    font-size: 32px;
    line-height: 47px;
    text-align: right;
    letter-spacing: -0.666667px;
    color: #26c2ae;
}

.calc__result-btn {
    font-size: 20px;
    line-height: 30px;
    color: #00474b;
    text-transform: uppercase;
    width: 100%;
    padding: 9px;
    border: none;
    border-radius: 5px;
    background-color: #26c2ae;
}

/*  */

@media only screen and (min-width: 992px) {
    .logo {
        margin: 163px auto 88px auto;
    }

    /*  */

    .calc {
        display: grid;
        grid-template-columns: 392px 413px;
        column-gap: 48px;
        padding: 32px;
        margin-bottom: 240px;
    }

    .calc__col-1 {
        max-width: 408px;
        padding: 0;
        grid-column: 1/2;
        margin: 13px 0 16px 16px;
    }

    .calc__col-2 {
        grid-column: 2/3;
        margin: 0;
        padding: 40px;

        display: flex;
        flex-direction: column;
    }

    /*  */

    .calc__bill-box {
        margin-bottom: 40px;
    }

    .calc__tip-box {
        margin-bottom: 40px;
    }

    /*  */

    .calc__tip-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 14px;
        row-gap: 16px;
        flex-wrap: revert;
    }

    .calc__tip-btn {
        width: 100%;
    }

    .calc__tip-btn--active {
        background-color: #26c2ae;
        color: #00474b;
    }

    .calc__tip-input {
        width: 100%;
    }

    /*  */

    .calc__result-tip-box {
        margin-bottom: 25px;
    }

    .calc__result-btn {
        margin-top: auto;
    }

    /*  */

    .calc__result-tip-box,
    .calc__result-total-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .calc__result-tip-box div p:nth-child(1),
    .calc__result-total-box div p:nth-child(1) {
        color: #ffffff;
    }

    .calc__result-tip-box div p:nth-child(2),
    .calc__result-total-box div p:nth-child(2) {
        font-size: 13px;
        line-height: 19px;
        color: #7f9d9f;
    }

    .calc__result-tip,
    .calc__result-total {
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -1px;
    }
}

/*  */
